@model Component

@{
    ViewBag.Title = "Component Details";
    Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>

<h4>Component Number:</h4>
<p>@Model.ComponentNumber</p>
<h4>Component Serial Number</h4>
<p>@Model.SerialNo</p>
<h4>Admin Comment: </h4>
<p>@Model.AdminComment</p>
<h4>User Comment</h4>
<p>@Model.UserComment</p>
<h4>Component Status</h4>
<p>@Model.Status</p>
<h4>Component Type</h4>
<p>@ViewBag.ComponentTypeName</p>